<mat-card class="example-card center bg-dark">
  
  <mat-card-header>
  	<mat-card-title class="bebasBold titulo-card text-center">
    	Trabajos
	</mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-header>
  <mat-card-subtitle class="bebasBold item">Telemarketer:2009 / Team Leader:2011</mat-card-subtitle>
    <mat-card-subtitle class="alex item">Lugar: <span class="bebas">Caba</span></mat-card-subtitle>
    <mat-card-subtitle class="alex item">Funcion: <span class="bebas">Recuperar clientes que quieren cancelar la suscripcion a un servicio, y vender paquetes promocionales de fidelizacion.</span></mat-card-subtitle>
  </mat-card-header>
  <br>
  <mat-card-header>
 	<mat-card-subtitle class="bebasBold item">Atencion al Publico: 2012</mat-card-subtitle>
    <mat-card-subtitle class="alex item">Lugar: <span class="bebas">San Justo</span></mat-card-subtitle>
    <mat-card-subtitle class="alex item">Funcion: <span class="bebas">Organizar, mantener y comercializar articulos de ferreteria.</span></mat-card-subtitle>
  </mat-card-header>
  <br>
  <mat-card-header>
 	<mat-card-subtitle class="bebasBold item">Desarrollador FullStack Freelancer</mat-card-subtitle>
    <mat-card-subtitle class="alex item">Actual!</mat-card-subtitle>
  </mat-card-header>
 



  <mat-card-content>
  
  </mat-card-content>
  
  <mat-card-actions>
  	<mat-card-title class="bebasBold text-center titulo-card">
    	Hobbies
	    <mat-card-subtitle class="alex item" style="position: relative; top: 5px;">
	    	Piano, Libros y Naipes
	    </mat-card-subtitle>
	</mat-card-title>
  </mat-card-actions>

</mat-card>
