<h2>¿Quien soy?</h2>
<p>
Mi nombre es Ezequiel Miceli, soy un programador sudamericano, ciudadano argentino.
Disfruto tanto de paradojas circulares Borgeanas, como de los riffs que se bailan en la apertura de cumbias y valcesitos (<a href="https://www.youtube.com/watch?v=BWQjCcP2fyU">Sentimiento Villero</a> o <a href="https://www.youtube.com/watch?v=F-XblSpna3M">Primavera Porteña</a>).<br>
Por sobre todas las cosas valoro la vida. Creo en el arte, el futbol, el amor, el psicoanalisis, el feminismo, el dandysmo, el existencialismo, el estructuralismo, la microfisica del poder y biopolitica, las hegemonias de Laclau, los paradigmas de Khun, la belleza de Nietzsche, el calor popular, la totalidad, mis seres queridos, mi sangre heredada y propia, mi patria, heraclito, la educacion, la deconstruccion, la justicia, tlon y los ojos de mi hija.
<br>
Me especializo en soluciones de ultima generacion sobre conceptos de reutilizacion de codigo y la aplicacion del modelo orientado a objetos en marcos de trabajo rapido (Frameworks Js angular, react, vue, ionic y servidores Node, XMPP o PHP).
Ademas con mi experiencia como freelancer, pude adquirir gimnasia, en manejo de clientes, coordinacion de equipos, diseño UX completo y desarrollo full stack en aplicaciones de media y alta gama.
<br>
Amo la programacion. La considero un arte, como la numistica o la cabala. 
La atribucion de ordenes a metales y minerales capaces de desarrollar un sistema interno de sentido, basado en la pulsacion electrica, estatica, mecanica e hidraulica artificial sobre estructuras de interaccion, es tan imposible como la pantalla con la que usted esta visualizando esta web (la pantalla esta hecha de metales pulidos que imitan a espejos, programados electronica y fisicamente para sentir el tacto sobre si y notificar atraves de redes fisicas y aereas, de infinitas frecuencias y potencias, su agrado por un perro que ladra parecido Valeria Lynch, el golpazo que se da un cristiano en la entrepierna o la simplificacion politica de su identidad basada ,como la mia, en memes).
<br>
No me interesa el chiste violento, el chivo expiatorio, la estupidez maligna, la competencia entre pares, el basureo, el salvese quien pueda, el hablar solo con gente que piensa como yo, el alejarme de gente distinta a mi, el perder el tiempo sin querer haberlo perdido, la inutilidad de las palabras, las caretas, la guita paga todo, y Boca Juniors.
Si queres que trabajemos juntos en algun de mis/tus proyectos comunicate conmigo al Whatsapp de la Web.
Gracias por leer hasta aca, es mas de lo que la gente lee de las noticias.
</p>
